* {
    margin: 0;
    padding: 0;
  }
  .container{
    position: static;
    top: 0;
  }
a{
    text-decoration: none;
    color: white;
}
.main-header{
    background-color: black;
    color: white;
}
.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}
.container-main{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.container-main .row{
    display: flex;
}
.contant{
    margin-right: 15px;
}
.img{
    margin-left: 10px;
    margin-right: 20px;
}
.btn{
     background-color: black;
     color: white;
     padding: 16px;
}
.cont-2{
    margin: 15px;
}
.container-main1 .row1{
    display: flex;
    flex-wrap: wrap;
}
.container-main1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.row1 img{
    margin-right: 30px;
    margin-bottom: 41px;

}